body, ul, li, h1, h2, button, p {
    margin: 0; padding: 0;
    font-family: "noto sans";
}
li { list-style-type: none; }


.upper-wrap, .footer {
    background-color: #1f2937;
    contain: content;
}
.header { width: 1024px; margin: 0 auto;
    display: flex; justify-content: space-between; align-items: center; }
.header h1 {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}
.header ul { display: flex; gap: 20px;}
.header a { 
    text-decoration: none; color: #f9faf8;
}

.hero {
    width: 1024px; margin: 100px auto; color: #f9faf8;
    display: flex; justify-content: space-between;
}
.hero .text { padding-right: 50px; }
.hero h2 {
    font-size: 48px;
    font-weight: 900;
}
.hero .text p {
    color: #e5e7eb;
}
.hero img { max-width: 520px; }
.hero button {
    box-sizing: border-box;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: #3882f6;
    text-align: center;
    border: none;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.illustrations {
    padding: 50px 0 100px;
    color: #1f2937;
    text-align: center;
}
.illustrations h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 50px;
}
.illustrations .boxes {
    width: 800px; margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-align: center;
}

.box .img-placeholder {
    width: 170px;
    height: 170px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    box-sizing: border-box;
}

.quote {
    background: #e5e7eb;
    padding: 130px 0 100px;
}
.quote > * {
    width: 1024px; margin: 0 auto; 
    color: #1f2937;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    
}
.quote .author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 100px 0 0;
}

.cta {
    box-sizing: border-box;
    padding: 50px 120px;
    margin: 100px auto;
    max-width: 1024px;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
}

.cta button {
    box-sizing:border-box;
    background: none;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    height: 40px;
    width: 130px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

.footer {
    line-height: 100px;
    text-align: center;
    color: #f9faf8;
}